.slick-slider {
	box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent
}

.slick-list,
.slick-slider {
	position: relative;
	display: block
}

.slick-list {
	overflow: hidden;
	margin: 0;
	padding: 0
}

.slick-list:focus {
	outline: none
}

.slick-list.dragging {
	cursor: pointer;
	cursor: hand
}

.slick-slider .slick-list,
.slick-slider .slick-track {
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0)
}

.slick-track {
	position: relative;
	left: 0;
	top: 0;
	display: block;
	margin-left: auto;
	margin-right: auto
}

.slick-track:after,
.slick-track:before {
	content: "";
	display: table
}

.slick-track:after {
	clear: both
}

.slick-loading .slick-track {
	visibility: hidden
}

.slick-slide {
	float: left;
	height: 100%;
	min-height: 1px;
	display: none
}

[dir=rtl] .slick-slide {
	float: right
}

.slick-slide img {
	display: block
}

.slick-slide.slick-loading img {
	display: none
}

.slick-slide.dragging img {
	pointer-events: none
}

.slick-initialized .slick-slide {
	display: block
}

.slick-loading .slick-slide {
	visibility: hidden
}

.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent
}

.slick-arrow.slick-hidden {
	display: none
}

.article {
	box-shadow: 0 0 10px 0 rgba(62, 131, 158, .1);
	border: 1px solid #cae0e7;
	transition: all .2s;
	position: relative
}

.article:hover {
	box-shadow: 0 0 10px 0 rgba(62, 131, 158, .3)
}

.article_section {
	display: grid;
	grid-gap: 20px;
	-webkit-grid-gap: 20px;
	-moz-grid-gap: 20px
}

.article_section__title {
	color: var(--styleHeaderColor);
	border-top: 4px solid #104f79;
	font-weight: 500
}

.article_section__title.with-link {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 24px 20px 29px;
	font-weight: 500
}

.article_section__title-link {
	display: flex;
	align-items: center
}

.article_section__title-link span {
	color: #3e839e;
	font-size: 16px
}

.article_section__title-link span:hover {
	color: #3e839e;
	text-decoration: underline
}

.article_section__title-link-icon {
	width: 13px;
	height: 13px;
	transform: rotate(270deg);
	margin-left: 5px;
	background-color: #ff3d2e;
	-webkit-mask-position: center;
	mask-position: center;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129"><path d="M121.3 34.6a4.1 4.1 0 00-5.8 0l-51 51.1-51.1-51.1a4.1 4.1 0 00-5.8 5.8l53.9 53.9a4 4 0 002.9 1.2c1 0 2.1-.4 2.9-1.2l53.9-53.9a4 4 0 00.1-5.8z"/></svg>');
	mask-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129"><path d="M121.3 34.6a4.1 4.1 0 00-5.8 0l-51 51.1-51.1-51.1a4.1 4.1 0 00-5.8 5.8l53.9 53.9a4 4 0 002.9 1.2c1 0 2.1-.4 2.9-1.2l53.9-53.9a4 4 0 00.1-5.8z"/></svg>')
}

.article_section__title.with-vertical-borders {
	margin: 21px 0 0;
	position: relative
}

.article_section__title.with-vertical-borders:after,
.article_section__title.with-vertical-borders:before {
	content: "";
	height: 42px;
	width: 1px;
	background: #cae0e7;
	top: -21px;
	left: 0;
	display: block;
	position: absolute
}

.article_section__title.with-vertical-borders:after {
	left: auto;
	right: 0
}

@media (max-width:576px) {
	.article_section {
		grid-gap: 10px;
		-webkit-grid-gap: 10px;
		-moz-grid-gap: 10px
	}
}

.article_link {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0
}

.article_wrap {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding: 20px
}

@media (max-width:576px) {
	.article_wrap {
		padding: 14px 10px
	}
}

.article_img {
	width: 100%;
	height: auto
}

.article_tag {
	padding: 8px 0 0;
	border-bottom: 1px solid #cae0e7;
	display: flex;
	flex-wrap: wrap
}

.article_tag__item {
	display: flex;
	align-items: center;
	margin: 0 15px 5px 0;
	font-size: 14px;
	letter-spacing: .3px;
	font-family: Roboto, sans-serif
}

.article_tag__icon {
	width: 14px;
	height: 14px;
	display: inline-block;
	margin: 0 7px 0 0;
	vertical-align: text-bottom
}

.article_tag__icon-tag {
	-webkit-mask-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.3 8.8"><path d="M11.1.5c-.2-.3-.6-.5-1-.5H1.3C.6 0 0 .6 0 1.3v6.2c0 .7.6 1.3 1.3 1.3h8.8c.4 0 .8-.2 1-.5l3.2-3.9L11.1.5zm-.8 7.2l-.2.1H1.3c-.2 0-.3-.1-.3-.3V1.3c0-.2.1-.3.3-.3h8.8l.2.1L13 4.4l-2.7 3.3zM9.2 2.6c-1 0-1.8.8-1.8 1.8s.8 1.8 1.8 1.8S11 5.4 11 4.4s-.8-1.8-1.8-1.8zm0 2.6c-.4 0-.8-.3-.8-.8s.3-.8.8-.8.8.4.8.8-.3.8-.8.8z"/></svg>');
	mask-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.3 8.8"><path d="M11.1.5c-.2-.3-.6-.5-1-.5H1.3C.6 0 0 .6 0 1.3v6.2c0 .7.6 1.3 1.3 1.3h8.8c.4 0 .8-.2 1-.5l3.2-3.9L11.1.5zm-.8 7.2l-.2.1H1.3c-.2 0-.3-.1-.3-.3V1.3c0-.2.1-.3.3-.3h8.8l.2.1L13 4.4l-2.7 3.3zM9.2 2.6c-1 0-1.8.8-1.8 1.8s.8 1.8 1.8 1.8S11 5.4 11 4.4s-.8-1.8-1.8-1.8zm0 2.6c-.4 0-.8-.3-.8-.8s.3-.8.8-.8.8.4.8.8-.3.8-.8.8z"/></svg>')
}

.article_tag__icon-person,
.article_tag__icon-tag {
	background-color: var(--styleHeaderSeparatorColor);
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-position: center;
	mask-position: center
}

.article_tag__icon-person {
	-webkit-mask-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.5 12.3"><path d="M12.5 10.2v2.1h-1v-2.1a1 1 0 00-.7-.9l-.8-.2c-2.5-.7-5.1-.8-7.6 0l-.7.3c-.4.1-.7.4-.7.8v2.1H0v-2.1c0-.9.5-1.6 1.4-1.8l.8-.2c2.6-.8 5.5-.8 8.2 0l.8.2a2 2 0 011.3 1.8zM2.9 3.3C2.9 1.5 4.4 0 6.2 0 8 0 9.5 1.5 9.5 3.3S8.1 6.6 6.2 6.6a3.3 3.3 0 01-3.3-3.3zm1 0c0 1.3 1 2.3 2.3 2.3s2.3-1 2.3-2.3S7.5 1 6.2 1 3.9 2 3.9 3.3z"/></svg>');
	mask-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.5 12.3"><path d="M12.5 10.2v2.1h-1v-2.1a1 1 0 00-.7-.9l-.8-.2c-2.5-.7-5.1-.8-7.6 0l-.7.3c-.4.1-.7.4-.7.8v2.1H0v-2.1c0-.9.5-1.6 1.4-1.8l.8-.2c2.6-.8 5.5-.8 8.2 0l.8.2a2 2 0 011.3 1.8zM2.9 3.3C2.9 1.5 4.4 0 6.2 0 8 0 9.5 1.5 9.5 3.3S8.1 6.6 6.2 6.6a3.3 3.3 0 01-3.3-3.3zm1 0c0 1.3 1 2.3 2.3 2.3s2.3-1 2.3-2.3S7.5 1 6.2 1 3.9 2 3.9 3.3z"/></svg>')
}

@media (max-width:767px) {
	.article_tag__icon {
		display: none
	}
}

.article_tag a {
	color: var(--styleHeaderSeparatorColor);
	position: relative
}

.article_title {
	font-size: 22px;
	letter-spacing: .57px;
	margin: 10px 0 11px;
	font-weight: 400;
	line-height: 1.24em;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	max-height: 3.72em;
	color: var(--styleHeaderColor)
}

.article_description {
	color: #6a797d;
	font-family: Lato, sans-serif;
	margin: 0
}

.article_description a {
	color: #6a797d;
	pointer-events: none
}

.row_article .article_wrap {
	flex-direction: row-reverse;
	justify-content: space-between
}

.row_article .article_img {
	margin-left: 25px;
	width: 28%;
	align-self: center
}

@media (max-width:576px) {
	.row_article .article_img {
		width: 39%
	}
}

.without-description_article .article_title {
	font-size: 16px;
	margin-bottom: 0
}

.without-description_article .article_tag {
	border-bottom: 0;
	padding-top: 0
}

.without-description_article .article_tag__item {
	margin-right: 5px
}

.without-tag_article .article_wrap {
	align-items: center
}

.without-tag_article .article_title {
	font-size: 16px;
	letter-spacing: .33px;
	text-align: center;
	color: var(--styleHeaderColor);
	margin-bottom: 26px
}

.without-tag_article .article_description {
	text-align: center;
	font-size: 14px
}

.new_article__section {
	grid-template-columns: 2fr 1fr;
	align-items: flex-start
}

@media (max-width:991px) {
	.new_article__section {
		grid-template-columns: 1fr
	}
}

.new_article__title {
	font-size: 28px;
	font-weight: 400;
	color: var(--styleHeaderColor);
	margin: 0
}

.new_article__wrap {
	border: 1px solid #cae0e7;
	overflow: hidden
}

.new_article__wrap .article {
	border: 0;
	border-bottom: 1px solid #cae0e7;
	box-shadow: none
}

.new_article__wrap .article:hover {
	box-shadow: 0 0 10px 0 rgba(62, 131, 158, .3)
}

.new_article__wrap .article:last-of-type {
	border-bottom: 0
}

.new_article__wrap .article:first-of-type {
	box-shadow: 0 0 10px 0 rgba(62, 131, 158, .3);
	position: relative;
	background-color: #fff;
	z-index: 2
}

.grid_article__section {
	grid-template-columns: repeat(3, 1fr)
}

@media (max-width:991px) {
	.grid_article__section {
		grid-template-columns: 1fr 1fr;
		margin-bottom: 20px
	}
}

@media (max-width:767px) {
	.grid_article__section {
		grid-template-columns: 400px;
		justify-content: center
	}
}

@media (max-width:576px) {
	.grid_article__section {
		margin-bottom: 10px;
		grid-template-columns: 1fr
	}
}

.grid_article__section .article_tag {
	flex-direction: column
}

.agency_article__section {
	grid-template-columns: repeat(4, 1fr)
}

@media (max-width:991px) {
	.agency_article__section {
		display: block
	}
	.agency_article__section .article {
		margin-bottom: 10px;
		height: 100%
	}
	.agency_article__section .article_wrap {
		justify-content: center
	}
}

@media (min-width:992px) {
	.rest_article__section {
		grid-template-columns: auto;
		width: 75%
	}
}

@media (max-width:991px) {
	.rest_article__section {
		grid-template-columns: 1fr
	}
}

@media (max-width:576px) {
	.rest_article__section .author-article_tag__item {
		display: none
	}
	.rest_article__section .article_tag {
		border-bottom: 0;
		padding: 0
	}
	.rest_article__section .article_tag__item {
		margin: 0
	}
	.rest_article__section .article_img {
		margin-left: 10px
	}
	.rest_article__section .article_title {
		font-size: 14px;
		margin: 7px 0 0
	}
	.rest_article__section .article_description {
		display: none
	}
}

:root {
	--styleHeaderColor: #17313b;
	--styleHeaderTextColor: #fff;
	--styleHeaderSeparatorColor: #3e839e;
	--stylePrimaryColor: #ff3d2e;
	--styleSecondaryColor: #104f79;
	--styleSecondaryColorAccent: #2980b9;
	--styleFooterColor: #17313b;
	--styleFooterTextColor: #fff
}

.marketing-page-nav {
	position: relative
}

@media (max-width:991px) {
	.marketing-page-nav .container {
		max-width: 100%;
		padding-left: 0;
		padding-right: 0
	}
	.marketing-page-nav .container.small-gutters .row {
		margin-left: 0;
		margin-right: 0
	}
	.marketing-page-nav .container.small-gutters .row .col {
		padding-left: 0;
		padding-right: 0
	}
	.marketing-page-nav .container .marketing-page-nav-right ul li {
		margin-top: 10px
	}
}

@media (min-width:768px) {
	.marketing-page-nav .marketing-page-nav-right {
		width: 37%
	}
}

.marketing-page-nav-mobile-m {
	display: none;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	position: relative;
	padding: 6px 30px;
	border: 1px solid #cae0e7;
	font-size: 14px;
	background: #fff;
	box-shadow: 0 0 10px 0 rgba(62, 131, 158, .3);
	z-index: 16
}

.marketing-page-nav-mobile-m:focus {
	outline: none
}

@media (max-width:767px) {
	.marketing-page-nav-mobile-m {
		display: flex
	}
}

.marketing-page-nav-mobile-m span {
	font-size: 14px;
	color: #ff3d2e
}

.marketing-page-nav-mobile-m .arrow_icon {
	width: 17px;
	height: 14px;
	fill: #ff3d2e;
	position: absolute;
	top: 10px;
	right: 30px;
	background-color: #ff3d2e;
	-webkit-mask-position: center;
	mask-position: center;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129"><path d="M121.3 34.6a4.1 4.1 0 00-5.8 0l-51 51.1-51.1-51.1a4.1 4.1 0 00-5.8 5.8l53.9 53.9a4 4 0 002.9 1.2c1 0 2.1-.4 2.9-1.2l53.9-53.9a4 4 0 00.1-5.8z"/></svg>');
	mask-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129"><path d="M121.3 34.6a4.1 4.1 0 00-5.8 0l-51 51.1-51.1-51.1a4.1 4.1 0 00-5.8 5.8l53.9 53.9a4 4 0 002.9 1.2c1 0 2.1-.4 2.9-1.2l53.9-53.9a4 4 0 00.1-5.8z"/></svg>')
}

.marketing-page-nav-mobile-m[aria-expanded=true] {
	box-shadow: none
}

.marketing-page-nav-mobile-m[aria-expanded=true] .arrow_icon {
	transform: rotate(-180deg)
}

.marketing-page-nav-wrapper {
	border: 1px solid #cae0e7;
	border-top: none;
	margin: 0 0 21px
}

@media (min-width:768px) {
	.marketing-page-nav-wrapper.collapse:not(.show) {
		display: block
	}
}

@media (max-width:767px) {
	.marketing-page-nav-wrapper {
		margin: 0;
		box-shadow: 0 0 10px 0 rgba(62, 131, 158, .3);
		position: absolute;
		left: 0;
		right: 0;
		background: #fff;
		z-index: 2
	}
}

.marketing-page-nav-left {
	float: left;
	width: 62.5%
}

@media (max-width:767px) {
	.marketing-page-nav-left {
		float: none;
		width: auto;
		padding: 0 30px
	}
}

.marketing-page-nav-left ul {
	list-style-type: none;
	display: flex;
	padding: 0;
	margin: 0;
	justify-content: space-between
}

@media (max-width:767px) {
	.marketing-page-nav-left ul {
		display: block
	}
}

.marketing-page-nav-left ul li {
	text-align: center;
	position: relative;
	flex: 1;
	white-space: nowrap
}

@media (max-width:767px) {
	.marketing-page-nav-left ul li {
		text-align: left
	}
}

.marketing-page-nav-left ul li:after {
	position: absolute;
	top: 11px;
	left: 0;
	bottom: 0;
	border-right: 1px solid #cae0e7;
	content: ""
}

@media (max-width:767px) {
	.marketing-page-nav-left ul li:after {
		display: none
	}
}

.marketing-page-nav-left ul li:first-child:after {
	display: none
}

.marketing-page-nav-left ul li:last-child {
	border-right: 1px solid #cae0e7
}

@media (max-width:767px) {
	.marketing-page-nav-left ul li:last-child {
		border-right: none
	}
}

.marketing-page-nav-left ul li span {
	position: relative
}

.marketing-page-nav-left ul li a {
	font-size: 14px;
	color: #08537e;
	padding: 22px;
	line-height: 1;
	display: block;
	position: relative
}

@media (max-width:1199px) {
	.marketing-page-nav-left ul li a {
		padding: 22px 10px
	}
}

@media (max-width:991px) {
	.marketing-page-nav-left ul li a {
		padding: 22px 10px
	}
}

@media (max-width:767px) {
	.marketing-page-nav-left ul li a {
		padding: 15px 0
	}
}

.marketing-page-nav-left ul li a.marketing-page-nav-left-highlight,
.marketing-page-nav-left ul li a:hover {
	color: #ff3d2e;
	text-decoration: none
}

.marketing-page-nav-left ul li a.marketing-page-nav-left-highlight span:after,
.marketing-page-nav-left ul li a:hover span:after {
	content: "";
	position: absolute;
	bottom: -22px;
	right: -8px;
	left: -8px;
	height: 2px;
	background: #ff3d2e
}

@media (max-width:767px) {
	.marketing-page-nav-left ul li a.marketing-page-nav-left-highlight span:after,
	.marketing-page-nav-left ul li a:hover span:after {
		display: none
	}
}

.marketing-page-nav-left ul li:nth-child(2) a.marketing-page-nav-left-highlight span:after,
.marketing-page-nav-left ul li:nth-child(2) a:hover span:after {
	width: 60px;
	left: 50%;
	right: auto;
	margin-left: -30px
}

.marketing-page-nav-right {
	float: right;
	width: 33%;
	text-align: center
}

@media (max-width:767px) {
	.marketing-page-nav-right {
		float: none;
		width: auto;
		text-align: left;
		padding: 0 30px;
		border-top: 1px solid #cae0e7
	}
}

.marketing-page-nav-right ul {
	margin: 0;
	padding: 18px 0;
	list-style: none
}

@media (max-width:991px) {
	.marketing-page-nav-right ul {
		padding: 7px 0
	}
}

@media (max-width:767px) {
	.marketing-page-nav-right ul {
		padding: 1px 0
	}
}

.marketing-page-nav-right ul li {
	display: inline-block;
	padding: 0 22px
}

@media (max-width:1199px) {
	.marketing-page-nav-right ul li {
		padding: 0 10px
	}
}

@media (max-width:767px) {
	.marketing-page-nav-right ul li {
		padding: 13px 0;
		display: block;
		margin-top: 0!important
	}
}

.marketing-page-nav-right ul li label {
	font-size: 14px;
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	font-family: Roboto, sans-serif;
	letter-spacing: .01px;
	color: #08537e;
	margin: 0
}

.marketing-page-nav-right ul li input[type=checkbox] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	margin: 0
}

.marketing-page-nav-right ul li input[type=checkbox]+label {
	position: relative;
	padding: 0 0 0 17px;
	cursor: pointer
}

.marketing-page-nav-right ul li input[type=checkbox]+label:before {
	content: "";
	position: absolute;
	top: 1px;
	left: 0;
	width: 14px;
	height: 14px;
	border: 1px solid #08537e;
	background-color: #fff;
	transition: .2s
}

.marketing-page-nav-right ul li input[type=checkbox]+label:after {
	content: "";
	width: 12px;
	height: 10px;
	position: absolute;
	top: 4px;
	left: 1px;
	color: #fff;
	transition: .2s
}

.marketing-page-nav-right ul li input[type=checkbox]:checked+label {
	color: #ff3d2e
}

.marketing-page-nav-right ul li input[type=checkbox]:checked+label:after {
	background: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' ?%3E%3Csvg height='15px' version='1.1' viewBox='0 0 18 15' width='18px' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle/%3E%3Cdesc/%3E%3Cdefs/%3E%3Cg fill='none' fill-rule='evenodd' id='Page-1' stroke='none' stroke-width='1'%3E%3Cg fill='%23ff3d2e' id='Core' transform='translate(-423.000000, -47.000000)'%3E%3Cg id='check' transform='translate(423.000000, 47.500000)'%3E%3Cpath d='M6,10.2 L1.8,6 L0.4,7.4 L6,13 L18,1 L16.6,-0.4 L6,10.2 Z' id='Shape'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat 50%;
	background-size: cover
}

.small-gutters {
	padding-right: 10px;
	padding-left: 10px
}

.small-gutters .row {
	margin-right: -10px;
	margin-left: -10px
}

.small-gutters .row>[class*=" col"],
.small-gutters .row>[class*=" col-"],
.small-gutters .row>[class*=col],
.small-gutters .row>[class^=col-] {
	padding-right: 10px;
	padding-left: 10px
}

.marketing-page-title{margin-top: 100px;}

.marketing-page-title h1,
.marketing-page-title h2 {
	font-family: Roboto, sans-serif;
	font-size: 56px;
	text-align: left;
	margin-left: 15px;
	font-weight: 400;
	color: #17313b
}

.marketing-page-title h2 {
	font-size: 22px
}

@media (max-width:767px) {
	.marketing-page-title h2 {
		font-size: 14px
	}
}

.marketing-page-title h1 {
	font-size: 36px
}

@media (max-width:767px) {
	.marketing-page-title h1 {
		font-size: 28px;
		margin-top: 21px
	}
}

.marketing-page-wrapper {
	padding: 10px 0 20px
}

.marketing-page-ajax-btn {
	text-align: center
}

.marketing-page-section {
	position: relative;
	padding-bottom: 30px
}

.marketing-page-section-title {
	padding: 24px 20px 29px;
	font-weight: 500
}

.marketing-page-ctablock {
	box-shadow: 0 0 10px 0 rgba(62, 131, 158, .3);
	border: 1px solid #cae0e7;
	background: #fff;
	padding: 20px;
	z-index: 1
}

@media screen and (max-width:1049px) {
	.marketing-page-ctablock {
		max-width: 320px;
		margin-top: 20px;
		margin-right: auto;
		margin-left: auto
	}
}

@media (max-width:576px) {
	.marketing-page-ctablock {
		max-width: 100%
	}
}

.marketing-page-ctablock-title {
	line-height: 19px;
	font-size: 16px;
	color: #17313b;
	text-align: center;
	margin: 0 0 37px
}

@media (max-width:767px) {
	.marketing-page-ctablock-title {
		font-size: 18px
	}
}

.marketing-page-ctablock label {
	font-size: 14px;
	color: #6a797d;
	margin: 0
}

@media (max-width:767px) {
	.marketing-page-ctablock label {
		display: none
	}
}

.marketing-page-ctablock input[type=email] {
	border: 1px solid #cae0e7;
	background: #fff;
	padding: 0 10px;
	height: 32px;
	line-height: 32px;
	width: 100%;
	float: none
}

.marketing-page-ctablock input[type=email]::placeholder {
	color: transparent
}

@media (max-width:767px) {
	.marketing-page-ctablock input[type=email]::placeholder {
		color: #cae0e7
	}
}

.marketing-page-ctablock input[type=email]:focus::placeholder {
	color: transparent
}

.marketing-page-ctablock-button {
	padding: 20px 0;
	text-align: center
}

.marketing-page-ctablock-button button {
	height: 36px;
	border-radius: 2px;
	background: #ff3d2e;
	color: #fff;
	font-size: 14px;
	text-align: left;
	width: 160px;
	border: none;
	padding: 0 20px;
	position: relative
}

.marketing-page-ctablock-button button svg {
	position: absolute;
	right: 20px;
	top: 13px
}

@media (max-width:767px) {
	.marketing-page-ctablock-button button svg {
		top: 11px
	}
}

@media (max-width:767px) {
	.marketing-page-ctablock-button button {
		height: 32px
	}
}

@media (max-width:767px) {
	.marketing-page-ctablock-button {
		padding: 20px 0 0
	}
}

.marketing-page-ctablock-desc {
	font-size: 14px;
	color: #6a797d;
	line-height: 1.3em
}

@media (max-width:767px) {
	.marketing-page-ctablock-desc {
		margin-top: 19px
	}
}

.marketing-page-ctablock-desc a {
	color: #3e839e
}

.marketing-page-cta {
	display: flex;
	flex-direction: column;
	height: 100%
}

.marketing-page-cta>div {
	flex: 1
}

.marketing-page-cta-top {
	border-bottom: 1px solid #cae0e7;
	text-align: center;
	padding: 10px 0 20px;
	margin: 0 -20px
}

.marketing-page-cta-top img {
	display: inline-block;
	width: 88px;
	height: auto
}

.marketing-page-cta-title {
	font-size: 21px;
	color: #17313b;
	text-align: center;
	padding-top: 20px
}

.marketing-page-cta-form label {
	margin: 0;
	display: block;
	font-size: 16px;
	color: #6a797d
}

.marketing-page-cta-form input[type=email] {
	height: 32px;
	line-height: 32px;
	border: 1px solid #cae0e7;
	display: block;
	width: 100%;
	padding: 0 10px;
	float: none
}

.marketing-page-cta-form .marketing-page-ctablock-button {
	padding: 20px 0 40px
}

.marketing-page-cta-form .hs-error-msgs {
	list-style: none;
	margin: 10px 0;
	padding: 0
}

.marketing-page-cta-form .hs-error-msgs li label {
	font-size: 12px;
	color: #ff3d2e
}

.marketing-page-cta-form .hs-error-msgs li label a {
	color: #ff3d2e
}

.marketing-page-cta-form .hs-submit,
.marketing-page-cta-form .marketing-page-ctablock-button {
	padding: 20px 0;
	text-align: center
}

.marketing-page-cta-form .hs-submit button,
.marketing-page-cta-form .hs-submit input[type=submit],
.marketing-page-cta-form .marketing-page-ctablock-button button,
.marketing-page-cta-form .marketing-page-ctablock-button input[type=submit] {
	height: 36px;
	border-radius: 2px;
	background: #ff3d2e;
	border: 2px solid #ff3d2e;
	color: #fff;
	font-size: 14px;
	text-align: center;
	width: 160px;
	padding: 0 20px;
	position: relative
}

.marketing-page-cta-form .hs-submit button:hover,
.marketing-page-cta-form .hs-submit input[type=submit]:hover,
.marketing-page-cta-form .marketing-page-ctablock-button button:hover,
.marketing-page-cta-form .marketing-page-ctablock-button input[type=submit]:hover {
	color: #ff3d2e;
	background: #fff
}

.marketing-page-cta-form .hs-submit button svg,
.marketing-page-cta-form .hs-submit input[type=submit] svg,
.marketing-page-cta-form .marketing-page-ctablock-button button svg,
.marketing-page-cta-form .marketing-page-ctablock-button input[type=submit] svg {
	position: absolute;
	right: 20px;
	top: 13px
}

@media (max-width:767px) {
	.marketing-page-cta-form .hs-submit button svg,
	.marketing-page-cta-form .hs-submit input[type=submit] svg,
	.marketing-page-cta-form .marketing-page-ctablock-button button svg,
	.marketing-page-cta-form .marketing-page-ctablock-button input[type=submit] svg {
		top: 11px
	}
}

@media (max-width:767px) {
	.marketing-page-cta-form .hs-submit button,
	.marketing-page-cta-form .hs-submit input[type=submit],
	.marketing-page-cta-form .marketing-page-ctablock-button button,
	.marketing-page-cta-form .marketing-page-ctablock-button input[type=submit] {
		height: 32px;
		width: 100%
	}
}

@media (max-width:767px) {
	.marketing-page-cta-form .hs-submit,
	.marketing-page-cta-form .marketing-page-ctablock-button {
		max-width: 50%;
		margin: 0 auto
	}
}

@media (max-width:576px) {
	.marketing-page-cta-form .hs-submit,
	.marketing-page-cta-form .marketing-page-ctablock-button {
		width: 50%
	}
}

.marketing-page-cta-desc {
	font: 400 16px/1.3em Roboto, sans-serif;
	color: #6a797d;
	margin: 15px 0 40px
}

.marketing-page-cta-items {
	height: auto
}

@media (max-width:767px) {
	.marketing-page-cta-items label {
		display: none
	}
}

.marketing-page-cta-items input[type=email] {
	border: 1px solid #cae0e7;
	background: #fff;
	padding: 0 10px;
	height: 32px;
	line-height: 32px;
	width: 100%;
	float: none
}

.marketing-page-cta-items input[type=email]::placeholder {
	color: transparent
}

@media (max-width:767px) {
	.marketing-page-cta-items input[type=email]::placeholder {
		color: #cae0e7
	}
}

.marketing-page-cta-items input[type=email]:focus::placeholder {
	color: transparent
}

.marketing-page-empty {
	max-width: 755px;
	margin: 21px auto;
	box-shadow: 0 0 10px 0 rgba(62, 131, 158, .3);
	border: 1px solid #cae0e7;
	background: #fff;
	padding: 40px
}

.marketing-page-empty-title {
	font-family: Roboto, sans-serif;
	font-size: 28px;
	color: #17313b;
	margin: 0 0 30px;
	line-height: 1.2
}

.marketing-page-empty-subtitle {
	font-family: Roboto, sans-serif;
	font-size: 21px;
	color: #17313b;
	padding: 15px 0 27px
}

.marketing-page-empty-btn {
	text-align: center
}

.marketing-page-empty-btn a {
	border-radius: 2px;
	display: inline-block;
	border: 1px solid #3e839e;
	color: #3e839e;
	font-family: Roboto, sans-serif;
	font-size: 14px;
	padding: 7px 30px
}

.marketing-page-empty-btn a svg {
	fill: #ff3d2e;
	transform: rotate(-90deg);
	width: 13px;
	margin: 0 0 0 6px
}

.marketing-page-empty-btn.__noborder {
	float: right
}

.marketing-page-empty-btn.__noborder a {
	border: none;
	padding-left: 0;
	padding-right: 0;
	text-transform: none
}

#ajax_load_btn {
	display: inline-block;
	margin: 0 auto;
	border-radius: 2px;
	border: 1px solid #cae0e7;
	background: #fff;
	font-size: 14px;
	color: #08537e;
	height: 36px;
	line-height: 34px;
	transition: all .2s
}

#ajax_load_btn:hover {
	background: #cae0e7
}

.in-progress {
	background: -webkit-linear-gradient(-45deg, hsla(0, 0%, 100%, .6) 25%, transparent 0, transparent 50%, hsla(0, 0%, 100%, .6) 0, hsla(0, 0%, 100%, .6) 75%, transparent 0, transparent), -webkit-linear-gradient(top, #f6f5f0, #e1e0dc);
	background-repeat: repeat;
	-webkit-background-size: 40px 40px, 100% 100%;
	background-size: 40px 40px, 100% 100%;
	-webkit-animation: progress-bar-stripes 2s linear infinite;
	animation: progress-bar-stripes 2s linear infinite
}

@-webkit-keyframes progress-bar-stripes {
	0% {
		background-position: 0 0
	}
	to {
		background-position: 40px 0
	}
}

@-moz-keyframes progress-bar-stripes {
	0% {
		background-position: 0 0
	}
	to {
		background-position: 40px 0
	}
}

@keyframes progress-bar-stripes {
	0% {
		background-position: 0 0
	}
	to {
		background-position: 40px 0
	}
}

.slick-list {
	padding: 10px 50px 10px 18px!important
}

.slick-slide {
	margin: 0 10px;
	height: auto
}

.slick-slide div {
	height: 100%
}

.slick-track {
	display: flex
}

@media screen and (min-width:1050px) {
	#ctablock {
		position: sticky;
		position: -webkit-sticky;
		top: 0;
		right: 0;
		float: right;
		max-width: 273px;
		margin-top: 83px;
		margin-bottom: 20px
	}
}
.article_wrap img.lazy.article_img{
	width: 150px;
}